recursive-include frontend/dist *
recursive-include backend/templates *.j2
recursive-include k9x/_generator_templates *.j2
recursive-include backend/templates *.css *.js
recursive-include agents/yaml *.yaml
recursive-include squads/yaml *.yaml
include context/*.md
